@import '~bootstrap/scss/bootstrap';
@import './box';

.container {
  display: flex;
  justify-content: space-evenly;
}

.hide {
  display: none;
}

.card-header {
  font-size: 3.0em;
}

#index-posts {
  text-align: center;
}

span {
  color: black;
  font-size: 0.5em;
  float: right;
  margin: auto 0;
}

header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('public/llama.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#new-post {
  text-align: center;
}
