@import '~bootstrap/scss/bootstrap';
@import 'box.scss';
.container {
  display: flex;
  justify-content: space-evenly;
}

.hide {
  display: none;
}

.card-header {
  font-size: 3.0em;
}
span {
  color: black;
  font-size: 0.5em;
  float: right;
  margin: auto 0;
}
